<h1 class="animated fadeIn fast">about comic</h1>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ipsum praesentium facilis dolores asperiores molestiae maxime voluptas dicta excepturi! Distinctio et excepturi, voluptatibus consequuntur hic tempore vitae eveniet beatae consequatur.
</p>
