
<div class="card" >
  <img class="card-img-top" [src]="h.img" alt="nombre">
  <div class="card-body">
    <h5 class="card-title">{{h.nombre}}</h5>
    <p class="card-text">{{h.bio}}</p>
    <p class="card-text"><small class="text-muted">{{h.aparicion}}</small></p>
    
    <button (click)="verHeroe()"
      type="button" class="btn btn-outline-primary btn-block"> 
      ver mas..
    </button>
    <!-- 
    <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">ver mas..</a>
    -->
  </div>
</div>