<h1>heroes <small>marvel y dc</small></h1>
<hr>
<div class="card-columns" >
  
  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [h]="h" [index] ="i" *ngFor="let h of heroes; let i = index"></app-heroe-tarjeta>

</div>
