<h1>Buscador : <small>{{termino}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length==0">
  <div class="col-md-12">
      <div class="alert alert-info" role="alert">
          no existe resultado para :  {{termino}}
      </div>
  </div>

</div>


<div class="card-columns" >
  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [h]="h" [index] ="h.idx" *ngFor="let h of heroes; let i = index"></app-heroe-tarjeta>

</div>
