
  
<h1>heroe {{heroe.nombre | uppercase}} <small>aparicion {{heroe.aparicion | date:'y'}} </small></h1>
<hr>
<div class="row">
  <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid">
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">regresar</a>

  </div>
  <div class="col-md-8">
      <h3>{{heroe.nombre}}</h3>

      <p>{{heroe.bio}}</p>
      <div>
        {{heroe.casa}}
<!--
    <img *ngIf="heroe.casa =='DC'" [src]="heroe.img" class="img-fluid">
    <img *ngIf="heroe.casa !='DC'" [src]="heroe.img" class="img-fluid">

-->

      </div>
  </div>

</div>